:root {
    --color-pink: #eb586f;
    --color-white: rgb(255, 255, 255);
    --color-gray: rgb(246, 246, 246);
    --color-black-333333: rgb(51, 51, 51);
    --color-black-282828: rgb(40, 40, 40);
    --color-black-1d1d1d: rgb(29, 29, 29);
    --color-black-585b60: rgb(88, 91, 96);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: montserrat, sans-serif
}

/* =========================== REUSE ========================= */

.btn {
    padding: 18px 30px;
    background-color: transparent;
    border: 2px solid var(--color-pink);
    color: var(--color-pink);
    font-size: 1.1rem;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--color-pink);
    color: var(--color-white);
}

/* ============================== HEADER ============================= */
.header_navbar {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header_navbar_logo img {
    width: 135px;
}

/* .header_navbar_nav ul li{
    list-style: none;
    font-size: 0.8rem;
    display: inline;
    word-spacing: 30px;

} */

.nav-link{
    font-family: rubik, sans-serif;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 400;
    
}

.nav-link:hover{
    color: var(--color-pink);
    font-weight: normal;
}

.active{
    color: var(--color-pink);
    font-weight: normal;
}

.header_background {
    text-align: center;
    height: 474px;
}

.background_carousel {
    display: none;
}

.background_carousel img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    top: 20%;
    right: 10%;
    left: 10%;
}

.carousel_title {
    font-size: 3rem;
    font-weight:700;
    color: var(--color-white);
    margin-bottom: 15px;
}

.carousel_content {
    color: var(--color-white);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 60px;
}

.btn-carousel {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 10px;
}

.carousel_button--learnmore,
.carousel_button--getstart {
    border: 2px solid var(--color-white);
    color: var(--color-white);
    font-weight: 500;
}

.carousel_button--learnmore:hover,
.carousel_button--getstart:hover {
    background-color: rgba(255, 255, 255 ,0.3);
}

.carousel-dot {
    position: relative;
    top: 50%;
}

.dot {
    height: 4px;
    width: 32px;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot {
    background-color: rgba(255, 255, 255, 0.8);
}

.carousel-control {
    margin-top: -18%;
}

.carousel-control a {
    position: absolute;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    width: 15%;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}


/* =============================== ABOUT =============================== */
#about {
    background-color: var(--color-gray);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about_item {
    max-width: 250px;
    margin: 0 10px;
}

.about_item img{
    width: 100px;
}

.about_item h4 {
    color: #444;
    font-size: 1.1rem;
    margin: 8px 0;
}

.about_item p {
    font-size: 0.8rem;
    font-family: rubik, sans-serif;
    line-height: 22px;
}

/* ================================ SERVICES ============================== */
#services {
    text-align: center;
    padding-bottom: 50px;
}

#services h1 {
    margin: 60px 0;
    line-height: 38px;
    font-size: 2.5rem;
    color: var(--color-black-585b60);
}

/* .row {
    display: flex;
    justify-content: center;
}

.col {
    display: flex;
}

.col div {
    text-align: left;
}

.col i {
    font-size: 32px;
    color: var(--color-pink);
} */

.service_title {
    margin-bottom: 10px;
}

.service-item {
    margin: 0 30px 20px 15px;
}

.service-item p {
    max-width: 300px;
    font-size: 0.8rem;
    line-height: 2;
}

/* =============================== PORTFOLIO ============================ */
#portfolio {
    background-color: var(--color-gray);
}

/* =================================== COUNTER ============================== */
#counter {
    background-image: url(/resources/img/testimonial-bg.jpg);
}

/* =========================  ANIMATION  ======================= */
/* Fading animation */
.fade {
    /* -webkit-animation-name: ease-in;
    -webkit-animation-duration: 0.5s;
    animation-name: ease-in;
    animation-duration: 0.5s; */
    transition: fade 2s linear
  }
  
@-webkit-keyframes fade {
    from {left: 0px;} 
    to {left: 100%;}
}

@keyframes fade {
    from {left: 0px;} 
    to {left: 100%;}
}