/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .portfolio_choose-img img {
        width: 320px;
    }
}

@media (max-width: 1096px) {
    .carousel_content {
        font-size: 1rem;
        width: 60%;
        margin-bottom: 30px;
    }

    .btn-carousel {
        padding: 12px 40px;
        font-size: 1.1rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .fa-bars {
        display: block;
    }

    .fa-bars:hover {
        cursor: pointer;
    }

    .header_navbar_nav {
        display: none;
    }

    .carousel-caption {
        margin-top: 0;
        width: 100%;
    }

    .carousel_title {
        font-size: 1.8rem;
    }

    .carousel_content {
        font-size: 1rem;
        width: 60%;
        margin-bottom: 10px;
    }

    .btn-carousel {
        padding: 6px 40px;
        font-size: 1rem;
    }

    .portfolio_choose-img img {
        width: 365px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .carousel-caption {
        margin-top: -20px;
        width: 100%;
    }

    .carousel_title {
        font-size: 1.4rem;
    }

    .carousel_content {
        font-size: 0.8rem;
        width: 60%;
        margin-bottom: 10px;
    }

    .btn-carousel {
        padding: 6px 40px;
        font-size: 0.8rem;
    }

    .portfolio_choose_item{
        width: 100%;
    }

    .team_img img,
    .team_content,
    .portfolio_choose-img img{
        width: 100%;
    }

    .portfolio_choose_content,
    .testimonial_item {
        width: 90%;
    }
    
    .team-item,
    .pricing-item {
        margin-bottom: 20px;
    }

    .footer {
        padding: 20px 40px;
    }

    .plain-flicker-gallery a img {
        width: 150px;
        height: 100px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .carousel-caption {
        margin-top: -40px;
        width: 100%;
    }

    .carousel_title {
        font-size: .9rem;
    }

    .carousel_content {
        font-size: 0.7rem;
        width: 60%;
        margin-bottom: 10px;
    }

    .btn-carousel {
        padding: 6px 40px;
        font-size: 0.7rem;
    }

    #services h1,
    #portfolio h1,
    #feature h1,
    #team h1,
    #pricing h1,
    #contact h1,
    .contact-info,
    .contact_title {
        font-size: 1.4rem;
    }

    /* =========================== Portfolio ========================= */

    .contact-info {
        margin-top: 30px;
    }

    .footer {
        padding: 20px;
    }

}