/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    
}

@media (max-width: 1096px) {
    .carousel_content {
        font-size: 1rem;
        width: 60%;
        margin-bottom: 30px;
    }

    .btn-carousel {
        padding: 12px 40px;
        font-size: 1.1rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .fa-bars {
        display: block;
    }

    .fa-bars:hover {
        cursor: pointer;
    }

    .header_navbar_nav {
        display: none;
    }

    .carousel-caption {
        margin-top: 0;
        width: 100%;
    }

    .carousel_title {
        font-size: 1.8rem;
    }

    .carousel_content {
        font-size: 1rem;
        width: 60%;
        margin-bottom: 10px;
    }

    .btn-carousel {
        padding: 6px 40px;
        font-size: 1rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .carousel-caption {
        margin-top: -20px;
        width: 100%;
    }

    .carousel_title {
        font-size: 1.4rem;
    }

    .carousel_content {
        font-size: 0.8rem;
        width: 60%;
        margin-bottom: 10px;
    }

    .btn-carousel {
        padding: 6px 40px;
        font-size: 0.8rem;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .carousel-caption {
        margin-top: -40px;
        width: 100%;
    }

    .carousel_title {
        font-size: .9rem;
    }

    .carousel_content {
        font-size: 0.7rem;
        width: 60%;
        margin-bottom: 10px;
    }

    .btn-carousel {
        padding: 6px 40px;
        font-size: 0.7rem;
    }

    /* =========================== Portfolio ========================= */
    #portfolio {
        ma
    }

}