/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .fa-bars {
        display: block;
    }

    .fa-bars:hover {
        cursor: pointer;
    }

    .header_navbar_nav {
        display: none;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .carousel-caption {
        margin-top: -100px;
        width: 100%;
        overflow: hidden;

    }

    .carousel_title {
        font-size: .9rem;
        color: red;
    }

    .carousel_content {
        font-size: 0.7rem;
        color: green;
        width: 60%;
    }

    .btn-carousel {
        padding: 6px 20px;
        font-size: 0.7rem;
    }
}