/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    
}
  
/* tablets */
@media (max-width: 991px) {

}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .fa-bars {
        display: block;
    }

    .header_navbar_logo {
        dis
    }
}

/* mobile or only mobile */
@media (max-width: 767px) {

}